.form-control {
  background-color: var(--light-background);
  border: 1px solid var(--secondary-color);
  color: var(--dark-text);
}

.form-control::placeholder {
  color: var(--placeholder-color);
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: #0056b3;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--primary-color);
}

.custom-control-label::before {
  border: 1px solid var(--secondary-color);
}
